<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">	
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <!-- Custom CSS Styling -->
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<link rel="icon" href="assets/images/burger.png">
		<title>Eat-da-Hamburgers!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/hamburgers.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
